<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label for="">Email</label>
      <app-custom-text-input
        [control]="email"
        [type]="'text'"
        [placeHolder]="'Email'"
      ></app-custom-text-input>

      <label for="">Password</label>
      <app-custom-text-input
        [control]="password"
        [type]="'password'"
        [placeHolder]="'Password'"
      ></app-custom-text-input>
    </div>

    <div class="button-container">
      <app-main-button></app-main-button>
    </div>

    <div class="link-container">
      <span class="link">No account yet?</span>
      <a href="/">Register</a>
    </div>
    <div *ngIf="loginForm.hasError('invalidLogin')">
      <small>Incorrect email or password!</small>
    </div>
  </form>
</div>
