.selected{
    background-color: #6FA9DA

}
a {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #CEE3F3;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    text-decoration: none;
}